.gallery {
	text-align: center;
	margin: auto;
	justify-content: center;
	display: inline-block;
	color: #07223bd8;
	font-family: "ProductSans";
}

.holder {
	background-color: #F6FAF9;
	opacity: 0.95;
	text-align: center;
	padding: 3%;
	margin: 3%;
	display: inline-block;
	box-shadow: 5px 10px 18px #888888;
	position: relative;
	vertical-align: top;
	border-radius: 0.5rem;
}

.holder img {
	width: 100%;
}

.holder h4 {
	font-size: 22px;
	margin-top: 30px;

}

.wide {
	width: 300px;
	height: 300px;
}

.long {
	width: 300px;
	height: 400px;
}

.holder a {
	color: #50b1bb;
	margin: auto;
	left: 96.5px;
	position: absolute;
	bottom: 25px;
}

@media only screen and (max-width: 600px) {

	.gallery {
		text-align: center;
		margin: auto;
		justify-content: center;
	}

	.holder {
		width: 75%;
		min-height: 300px;
		background-color: #F6FAF9;
		text-align: center;
		padding: 3%;
		margin: 3% auto;
		display: block;
		box-shadow: 5px 10px 18px #888888;
	}

	.holder a {
		position: static;
		color: #50b1bb;
		margin: auto;
		text-align: center;
	}

	.long {
		width: 300px;
		height: 420px;
	}
}