.main-container > h1{
    text-align: center;
	margin-top: 2%;
	font-size: 5vw;
	padding-bottom: 1vw;
	letter-spacing: 4px;
}

.instructions {
	padding-top: 10vh;
	padding-bottom: 5vh;
}

@media only screen and (max-width: 800px) {
	.help-links {
		display: block !important;
	}

	.help-links h5 {
		display: block;
		text-align: center;
	}
	#help-top img {
		display: none;
	}
}

#help-top {
	text-align: center;
}

.help-links {
	margin: auto;
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#help-top img {
	width: 2%;
}

#team19-quote-reference {
	text-align: right;
}