#intro {
	padding: 0;
	text-align: center;
}

#intro-icons {
	text-align: center;
	width: 100%;
	padding: 0;
}

#intro-icons div {
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

#intro i, #intro ion-icon {
	padding: 0 3vw;
	text-align: center;
	margin: auto;
	font-size: 5vw;
}

#app-main-image {
	width: 50vw;
}

@media only screen and (max-width: 600px) {

	#intro-icons div {
		text-align: center;
		display: block;
		vertical-align: middle;
	}

	#app-main-image {
		width: 100%;
	}

	#intro i, #intro ion-icon {
		padding: 0 3vw;
		text-align: center;
		margin: auto;
		font-size: 10vw;
	}
}

#features {
	text-align: center;
}

.content-feature img {
	max-height: 400px ;
	padding: 1vw;
}

.content-feature {
	padding: 1vw;
	padding-bottom: 0;
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

@media only screen and (max-width: 900px) {
	.content-feature {
		padding: 1vw;
		/*padding-bottom: 0;*/
		width: 70%;
		text-align: center;
		margin: auto;
		display: block;
		vertical-align: top;
	}
}
























.row{
	margin: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-top: 10%;
}

.column {
	float: left;
	padding: 0;
	margin: 0;
}

#left-side-pic{
	margin-left: 2%;
}

#right-side-pic{
	margin-right: 2%;
}
  
.column.side {
	width: 17%;
	height: 20%;
	padding: 0;
	margin: 0;
}
  
.column.middle {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.column.middle > h1{
	text-align: center;
	margin-top: 2%;
	font-size: 5vw;
	padding-bottom: 1vw;
	letter-spacing: 4px;
}

.column.middle > p{
	text-align: center;
	font-size: 1.3em;
	letter-spacing: px;
	word-spacing: 3px;
	padding-top: 1%;
}
  
.row:after {
	content: "";
	display: table;
	clear: both;
}


.row-2{
	margin: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.column-2 {
	float: left;
	padding: 0;
	margin: 0;
}

.column-2.side-2 {
	width: 35%;
	padding: 0;
	margin: 0;
	padding-left: 2%;
}
  
.column-2.middle-2 {
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	
}
  
.row-2:after {
	content: "";
	display: table;
	clear: both;
}

#dark-mode-pic{
	width: 60%;
	padding-top: 3%;
}

.column-2.side-2 > h3, p{
	margin-left: 2%;
}

.column-2.side-2 > p{
	margin-left: 2%;
}

.column-2.middle-2 > p{
	font-size: 1.2em;
	margin-top: 2%;
	padding-bottom: 2%;
}

#filter-info{
	font-size: 1.2em;
	margin-top: 5%;
}

#right-pic{
	width: 30.5%;
	float: right;
	margin-right: -14.5%;
	margin-top: 2%;
	margin-left: 10%;
}

@media only screen and (max-width: 1090px) {
	.column.middle > h1{
		text-align: center;
		margin-top: 2%;
		font-size: 4vw;
		padding-bottom: 1vw;
		letter-spacing: 4px;
	}
	
	.column.middle > p{
		text-align: center;
		font-size: 1.15em;
		letter-spacing: px;
		word-spacing: 3px;
		padding-top: 1%;
	}

	.column-2.side-2 > h3, p{
		margin-left: 2%;
	}
	
	.column-2.middle-2 > p{
		font-size: 1.15em;
		margin-top: 2%;
		padding-bottom: 2%;
	}
	
	#filter-info{
		font-size: 1.15em;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.column-2.side-2 > h3{
		font-size: 1.5em;
	}

	.column-2.middle-2 > p{
		font-size: 1.15em;
	}

	.column-2.middle-2 > h3{
		font-size: 1.5em;
	}

	.column-2.middle-2{
		margin-left: 2%;
	}

	#right-pic{
		width: 31%;
		margin-right: -11%;
	}

  }