/*.navbar {
	background-color: #07223bd8;
	margin-bottom: 2%;
	opacity: 1;
	height: 67.8px;
	
}

.nav-item {
	font-family: "ProductSans";
	font-size: 22px;
}

.nav-link:hover{
	color: rgba(255, 255, 255, 0.349);
}

.nav-link {
	text-align: center;
	width: 110px;
	color: #ffffff;
}

#nav-logo {
	padding: 0;
	width: 46px;
	margin-left: 50px;
	margin-right: 50px;
}*/


/*--------------------------*/

.navbar {
	background-color: #07223bd8;
	font-family: "ProductSans";
}

.nav-item {
	font-size: 20px;
}

.nav-link {
	text-align: center;
	width: 11vw;
  	min-width: 105px;
	color: #ffffff;
  	vertical-align: text-top;
}

.nav-link:hover{
	color: rgba(255, 255, 255, 0.349);
}

#nav-logo {
	padding: 0;
}

.navbar-mobile {
  display: none;
}

/*MOBILE VERSION */
@media only screen and (max-width: 800px) {
  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: block;
    overflow: hidden;
    background-color: #07223bd8;
  	font-family: "ProductSans";
  }

  .navbar-mobile #myLinks {
    display: none;
    text-align: center;
    background-color: #07223bd8;
  }

  #nav-logo {
    padding: 2vw;
    background-color: transparent;
    width: 70px;
    margin: 0;
  }

  .banner {
  	display: inline-block;
  }

  .navbar-mobile a.icon {
    display: block;
    height: 46px;
    padding: 0;
    min-height: 46px;
    height: auto;
    position: absolute;
    top: 2vw;
    right: 2vw;
    background-color: transparent;
    color: #ffffff;
  }

  .navbar-mobile a {
   	background-color: #07223bd8;
   	color: #ffffff;
    padding: 2vw 5vw;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .navbar-mobile i {
    display: inline-flex;
    font-size: 8vh;
    vertical-align: middle;
  }

  .navbar-mobile i:hover {
    color: rgba(255, 255, 255, 0.349);
  }

  .navbar-mobile a:hover {
    color: #78e2cf;
  }

  .navbar-mobile .active {
    background-color: #15343d;
  }
}