*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
  	margin: 0;
  	padding: 0;
  	width: 100%;
	background-image: url(../Assets/slideshow4.jpg);
	background-attachment: fixed;
	background-size: cover;
	color: #15343d;
	color:white;
	font-family: "ProductSans", "Tahoma", "Geneva", "sans-serif";
	/*overflow: hidden;*/
}

strong {
	color: #0066ff;
}

a {
	color: #78e2cf;
	text-decoration: none;
}

a:hover, ion-icon:hover {
	color: #50b1bb;
	text-decoration: none;
}

/*--------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #fff;
}

.intro {
  height: 100vh;
  margin: auto; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}
.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index:-1;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.intro .intro-header {
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 15%;
  width: 80vw;

	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.intro h1 {
  font-size: 5rem;
  margin-bottom: 0.75rem;
  opacity: 0.8;
}
.intro p {
  font-size: 1.75rem;
}

@media (max-width: 700px) {
  html { font-size: 12px; }
  .intro-header { padding: 1.5rem 2rem; }
  .intro h1 { font-size: 2.5rem; }
  .intro p { font-size: 1.25rem; }
}

hr {
	border-top: 2px solid #ffffff8c;
	
}

footer {
	color: white;
	background-color: rgba(3, 22, 22, 0.445);
	text-align: center;
	clear: both;
	opacity: 0.95;
	margin-top: 5vh;
}

footer div {
	display: inline-block;
	height: 100%;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

#faq, .instructions{
	padding-top: 10vh;
	padding-bottom: 5vh;
}

footer img {
	width: 4vw;
}

.container-fluid {
	font-family: "ProductSans";
	padding-left: 5vw !important;
	padding-right: 5vw !important;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

#slideshow-down-arrow {
	position: absolute;
    margin: auto;
    bottom: 20px;
	opacity: 1;
}

#slideshow-img-bubbles {
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 1%;
	padding-bottom: 1%;
	/*opacity: 0.5;*/
}

#slideshow-img-bubbles img {
	display: inline-block;
	height: 4vh;
}



#header{
	padding-top: 5vh;
	padding-bottom: 5vh;
	position: relative;
	padding: 2%;	
	background-color: rgba(9, 66, 66, 0.329);
	color: white;
}

#left-side{
	margin: 0;
	padding: 0;
	padding-top: 2%;
	margin-left: 10px;
	width: fit-content;
	position: absolute;
	left: 0;
	top: 0;
}

#left-heading{
	margin: 0;
	padding: 0;
}

h2.e{
	float: right;
	padding-left: 10px;
}

#right-side{
	margin-right: 10px;
	width: fit-content;
	position: absolute;
	right: 0;
	padding-top: 2%;
}

header > hr{
	margin-top: 105px;
	padding-bottom: px;
}

.main-container{
	padding: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.356);
	width: 90%;
	margin: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
	opacity: 0.95;
	z-index: 0;
}

#active-link{
	color: rgba(255, 255, 255, 0.349);
}



















@media only screen and (max-width: 600px) {

	.person-row .person {
		text-align: center;
		width: 100%;
		display: block;
	}

	.person-row .person img {
		width: 50%;
	}
}

#our-team {
	padding-top: 10vh;
	text-align: center;
}

#our-team h5, p {
	margin: 0;
}

.person-row, .person-council {
	text-align: center;
}

.person-row div {
	vertical-align: text-top;
	width: 20%;
	display: inline-block;
	padding: 2vh 0;
}

.person img {
	width: 75%;
}

.person-council div {
	width: 100%;
	padding: 2vh 0;
}

.person-council img {
	height: 40vh;
}







.gallery {
	text-align: center;
	margin: auto;
	justify-content: center;
	display: inline-block;
	/*padding-top: 0;*/
	color: #07223bd8;
	font-family: "ProductSans";
}

.holder {
	background-color: #F6FAF9;
	opacity: 0.95;

	/*background-color: rgba(0, 0, 0, 0.356);*/
	text-align: center;
	padding: 3%;
	margin: 3%;
	display: inline-block;
	box-shadow: 5px 10px 18px #888888;
	position: relative;
	vertical-align: top;
	border-radius: 0.5rem;
}

.holder img {
	width: 100%;
}

.holder h4 {
	font-size: 22px;
	margin-top: 30px;

}

.wide {
	width: 300px;
	height: 300px;
}

.long {
	width: 300px;
	height: 400px;
}

.holder a {
	color: #50b1bb;
	margin: auto;
	left: 96.5px;
	position: absolute;
	bottom: 25px;
}

@media only screen and (max-width: 600px) {

	.gallery {
		text-align: center;
		margin: auto;
		justify-content: center;
	}

	.holder {
		width: 75%;
		min-height: 300px;
		background-color: #F6FAF9;
		text-align: center;
		padding: 3%;
		margin: 3% auto;
		display: block;
		box-shadow: 5px 10px 18px #888888;
	}
}

.title-decoration {
	width: 100%;
	margin: auto;
	text-align: center;
}

.title-decoration img {
	width: 2%;
}


@media only screen and (max-width: 800px) {
	.help-links {
		display: block !important;
	}

	.help-links h5 {
		display: block;
		text-align: center;
	}
	#help-top img {
		display: none;
	}
}

#help-top {
	text-align: center;
}

.help-links {
	margin: auto;
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#help-top img {
	width: 2%;
}

#team19-quote-reference {
	text-align: right;
}