.details {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;

    .text {
        width: 100%;
    }
}

.content {
    text-align: center;
    margin: 10px 0;
}

.box {
    float: left;
    width: 320px;
    height: 500px;
    object-fit: contain;
    overflow: hidden;
    margin: 0px 20px 30px 20px;
}

@media screen and (max-width: 705px) {

    .details {
        display: block;
        width: 100%;
        height: 100%;
    
        .text {
            width: 100%;
            text-align: center;
        }
    }

    .box {
        margin: 5px;
        width: 320px;
        height: 500px;
        object-fit: contain;
        overflow: hidden;
    }

}