.navbar-holder {
    position: relative;
    width: 100%;
    background-color: $content-dark;
}

ul.navbar {
    margin: 0 auto;
    padding: 0;

    li {
        list-style-type: none;
        font-weight: 700;
        text-align: center;
        margin: 10px auto;
        
        &.active {
            a {
                color: $navbar-active;
            }
        }

        a {
            text-decoration: none;
            &:hover {
                color: $navbar-hover;
            }
        }
    }

}