.section {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    
    &.small {
        width: 100%;
        height: 300px;
    }
    &.large {
        width: 100%;
        height: 500px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        opacity: 50%;
    }
}

.left {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translate(0, -50%);
}

.right {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0, -50%);
}

.top {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
}

.bottom {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 8px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}