$white: #fff;
$black: #000;
$green: green;
$red: red;
$dark: #1a1a1b;
$light: #eff5ff;

$navbar-dark: #0c1238;
$navbar-light: #576cf2;
$navbar-hover: #f76d51;
$navbar-active: #b73116;

$content-light: #d9e5f7;
$content-dark: #232326;

$button-light: #166efc;
$button-dark: #996000;

$line: $white;