.navbar {
	background-color: #15343d;
	border-top: 2px solid #78e2cf;
	font-family: "ProductSans";
}

.nav-item {
	font-size: 20px;
}

.nav-link {
	text-align: center;
	width: 11vw;
  min-width: 105px;
	color: #50b1bb;
  vertical-align: text-top;
}

#nav-logo {
	padding: 0;
}

.navbar-mobile {
  display: none;
}



/*MOBILE VERSION */
@media only screen and (max-width: 800px) {
  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: block;
    overflow: hidden;
    background-color: #15343d;
    border-top: 2px solid #78e2cf;
  	font-family: "ProductSans";
  }

  .navbar-mobile #myLinks {
    display: none;
    border-top: 1px solid #78e2cf;
    text-align: center;
    background-color: #F6FAF9;
  }

  #nav-logo {
    padding: 2vw;
    background-color: transparent;
    width: 70px;
  }

  .navbar-mobile a.icon {
    display: block;
    height: 46px;
    padding: 0;
    min-height: 46px;
    height: auto;
    position: absolute;
    top: 2vw;
    right: 2vw;
    background-color: transparent;
  }

  .navbar-mobile a {
    background-color: #F6FAF9;
    color: #50b1bb;
    padding: 2vw 5vw;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .navbar-mobile i {
    display: inline-flex;
    font-size: 8vh;
    vertical-align: middle;
  }

  .navbar-mobile a:hover {
    color: #78e2cf;
  }

  .navbar-mobile .active {
    background-color: #15343d;
  }
}