@import 'components/variables';
@import 'components/section';
@import 'components/utilities';
@import 'components/navbar';

@import 'views/home';

body {
    margin: 0;
    padding: 0;

    width: 100%;

    font-family: Muli, Arial, Helvetica, sans-serif;
    
    color: $white;
    background-color: $dark;
}

.clean-list {
    list-style: none;
}

.image {
    width: 50%;
    height: 50%;
}

.video {
    margin: auto;
}

.smallprint {
    text-align: left;
    font-size: 10px;
}

.button {
    width: 100%;
    margin: 5px auto;
    border-radius: 5px;
    border-width: 0px;

    background-color: $button-dark;
    border-color: $button-dark;

    &:hover {
        color: $white;
    }
}

@media screen and (min-width: 480px) {
    .image {
        width: 60%;
    }

    .video {
        margin: auto;
    }
}