*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
  	margin: 0;
  	padding: 0;
  	width: 100%;
	background-color: #F6FAF9;
	background-size: cover;
	color: #15343d;
	color:white;
	font-family: "ProductSans";
}

hr {
	border-top: 2px solid #78e2cf;
}

a:hover {
	color: #78e2cf;
}

a {
	color: #50b1bb;
}

footer {
	color: white;
	background-color: #15343d;
	border-top: 2px solid #78e2cf;
	text-align: center;
	clear: both;
}

div {
	padding-top: 5vh;
	padding-bottom: 5vh;
}

footer div {
	display: inline-block;
	height: 100%;

}

footer img {
	width: 4vw;
}


.container-fluid {
	font-family: "ProductSansBold" !important;
	padding-left: 5vw !important;
	padding-right: 5vw !important;
}

.display-2 {
	text-align: center;
	font-size: 7vw;
}

#slideshow {
	padding-top: 5vw;
	padding-bottom: 5vw;
	background-image: url("../Assets/HadriansWall.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	color: white;
	position: relative;
}

#slideshow img {
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

#slideshow-down-arrow {
	position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right : 0;
    bottom: 0;
    padding-bottom: 2vw;

}

#slideshow-img-bubbles {
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	padding-top: 1%;
  	padding-bottom: 1%;
}

#slideshow-img-bubbles img {
	display: inline-block;
	height: 4vh;
}



/* --- EXPERIMENTAL TRIANGLE DESIGN --- */

.triangle-small {
	padding: 0;
	background-size: 100% 20px;
	background-repeat: no-repeat;
}

.triangle-medium {
	padding: 0;
	background-size: 100% 50px;
	background-repeat: no-repeat;
}

.triangle-large {
	padding: 0;
	background-size: 100% 100px;
	background-repeat: no-repeat;
}

.triangle-dark-top-right {
	background-image: url("../Assets/TriangleDark-T-R.png");
	background-position: top right;
}

.triangle-dark-bottom-left {
	background-image: url("../Assets/TriangleDark-B-L.png");
	background-position: bottom left;
}

.triangle-dark-top-left {
	background-image: url("../Assets/TriangleDark-T-L.png");
	background-position: top left;
}

.triangle-dark-bottom-right {
	background-image: url("../Assets/TriangleDark-B-R.png");
	background-position: bottom right;
}

.triangle-light-top-right {
	background-image: url("../Assets/TriangleLight-T-R.png");
	background-position: top right;
}

.triangle-light-bottom-left {
	background-image: url("../Assets/TriangleLight-B-L.png");
	background-position: bottom left;
}

.triangle-light-top-left {
	background-image: url("../Assets/TriangleLight-T-L.png");
	background-position: top left;
}

.triangle-light-bottom-right {
	background-image: url("../Assets/TriangleLight-B-R.png");
	background-position: bottom right;
}

.color-switch {
	padding: 0px !important;
	height: 20px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.color-switch-D-L {
	background-image: url("../Assets/colorSwitch1.png");
}

.color-switch-L-D {
	background-image: url("../Assets/colorSwitch2.png");
}

.color-switch-L-W {
	background-image: url("../Assets/colorSwitch3.png");	
}

.color-switch-D-W {
	background-image: url("../Assets/colorSwitch4.png");	
}


#header{
	position: relative;
	margin-top: %;
	padding: 2%;
	background-color: #F6FAF9;
	color: #15343d;
}

#left-side{
	margin: 0;
	padding: 0;
	margin-left: 10px;
	width: fit-content;
	position: absolute;
	left: 0;
	top: 0;
}

#left-heading{
	margin: 0;
	padding: 0;
}

h2.e{
	float: right;
	padding-left: 10px;
}

#right-side{
	margin-right: 10px;
	width: fit-content;
	position: absolute;
	right: 0;
}

hr{
	margin-top: 65px;
	padding-bottom: px;
}

.row{
	margin: auto;
	padding-top: 10%;
	transform: skewY(-1deg);
}

/* Create three unequal columns that floats next to each other */
.column {
	float: left;
	/*padding: 10px;*/
	padding: 0;
	margin: 0;
	
  }

  #left-side-pic{
	margin-left: 2%;
  }

  #right-side-pic{
    margin-right: 2%;
  }
  
  /* Left and right column */
  .column.side {
	width: 15%;
	height: 20%;
	padding: 0;
	margin: 0;
  }
  
  /* Middle column */
  .column.middle {
	width: 64%;
	margin-left: auto;
	margin-right: auto;
  }

  .column.middle > h1{
	  text-align: center;
	  margin-top: 2%;
	  font-size: 4.2em;
	  padding-bottom: 3%;
	  letter-spacing: 4px;
	}

	.column.middle > p{
		text-align: center;
		font-size: 1.5em;
		letter-spacing: 2px;
		word-spacing: 4px;
		line-height: 35px;
		padding-top: 2%;
	}
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }


  .row-2{
	margin: auto;
	transform: skewY(-1deg);
}

/* Create three unequal columns that floats next to each other */
.column-2 {
	float: left;
	/*padding: 10px;*/
	padding: 0;
	margin: 0;
	
  }
  
  /* Left and right column */
  .column-2.side-2 {
	width: 40%;
	padding: 0;
	margin: 0;
	padding-left: 2%;
  }
  
  /* Middle column */
  .column-2.middle-2 {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	
  }
  
  /* Clear floats after the columns */
  .row-2:after {
	content: "";
	display: table;
	clear: both;
  }

  #dark-mode-pic{
	  width: 60%;
  }

  .column-2.side-2 > h3, p{
	  margin-left: 2%;
  }

  .column-2.middle-2 > p{
	font-size: 1.2em;
	margin-top: 2%;
	padding-bottom: 2%;
}

#filter-info{
	font-size: 1.2em;
	margin-top: 5%;
}

#right-pic{
	width: 25%;
	float: right;
	margin-right: 3%;
	margin-top: 2%;
}

.main-container{
	padding: 0;
	margin: 0;
	background-image: url("../Assets/PosterBackground.png");
	/*background-attachment: fixed;*/
	background-position: right;
	background-size: cover;
	background-clip: content-box;
	transform: skewY(1deg);
	width: 90%;
	margin: auto;
}

