/*--------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/



.body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #fff;
}

.intro {
  height: 100vh;
  margin: auto; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}
.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
  height: 100%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
  object-fit: cover;
  z-index:-1;
  /* filter: brightness(50%); */ /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
  /* display: none; */
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}
/* .intro-slideshow img:first-child {
  display: block;
  opacity: 1;
} */
.intro .intro-header {
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 15%;
  width: 80vw;
}
.intro h1 {
  font-size: 5rem;
  margin-bottom: 0.75rem;
  opacity: 0.8;
}
.intro p {
  font-size: 1.75rem;
}

@media (max-width: 700px) {
  html { font-size: 12px; }
  .intro-header { padding: 1.5rem 2rem; }
  .intro h1 { font-size: 2.5rem; }
  .intro p { font-size: 1.25rem; }
}
/************************************************************************/






*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
  	margin: 0;
  	padding: 0;
  	width: 100%;
	/*background-color: #F6FAF9;*/
	background-image: url(../Assets/slideshow4.jpg);
	background-attachment: fixed;
	background-size: cover;
	color: #15343d;
	color:white;
	font-family: "ProductSans";
	/*overflow: hidden;*/
}

hr {
	border-top: 2px solid #78e2cf;
	
}

a:hover {
	color: #78e2cf;
}

a {
	color: #50b1bb;
}

footer {
	color: white;
	background-color: rgba(9, 66, 66, 0.329);
	text-align: center;
	clear: both;
	opacity: 0.8;
}



footer div {
	display: inline-block;
	height: 100%;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

#faq{
	padding-top: 5vh;
	padding-bottom: 5vh;
}

footer img {
	width: 4vw;
}


.container-fluid {
	font-family: "ProductSansBold" !important;
	padding-left: 5vw !important;
	padding-right: 5vw !important;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.display-2 {
	text-align: center;
	font-size: 7vw;
}

#slideshow {
	padding-top: 5vw;
	padding-bottom: 5vw;
	background-image: url("../Assets/HadriansWall.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	color: white;
	position: relative;
}

#slideshow img {
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

#slideshow-down-arrow {
	position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right : 0;
    bottom: 0;
	margin-bottom: 8vw;
	opacity: 1;
}




#slideshow-img-bubbles {
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 10%;
	padding-bottom: 1%;
	opacity: 0.5;
}

#slideshow-img-bubbles img {
	display: inline-block;
	height: 4vh;
}






#header{
	padding-top: 5vh;
	padding-bottom: 5vh;
	position: relative;
	padding: 2%;
	
	/*background-color: #F6FAF9;*/
	background-color: rgba(9, 66, 66, 0.329);
	/*color: #15343d;*/
	color: white;
	
}

#left-side{
	margin: 0;
	padding: 0;
	padding-top: 2%;
	margin-left: 10px;
	width: fit-content;
	position: absolute;
	left: 0;
	top: 0;
}

#left-heading{
	margin: 0;
	padding: 0;
}

h2.e{
	float: right;
	padding-left: 10px;
}

#right-side{
	margin-right: 10px;
	width: fit-content;
	position: absolute;
	right: 0;
	padding-top: 2%;
}

header > hr{
	margin-top: 105px;
	padding-bottom: px;
}

.row{
	margin: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-top: 10%;
	/*transform: skewY(-1deg);*/
}

/* Create three unequal columns that floats next to each other */
.column {
	float: left;
	/*padding: 10px;*/
	padding: 0;
	margin: 0;
  }

  #left-side-pic{
	margin-left: 2%;
  }

  #right-side-pic{
    margin-right: 2%;
  }
  
  /* Left and right column */
  .column.side {
	width: 15%;
	height: 20%;
	padding: 0;
	margin: 0;
  }
  
  /* Middle column */
  .column.middle {
	width: 64%;
	margin-left: auto;
	margin-right: auto;
  }

  .column.middle > h1{
	  text-align: center;
	  margin-top: 2%;
	  font-size: 4.2em;
	  padding-bottom: 3%;
	  letter-spacing: 4px;
	}

	.column.middle > p{
		text-align: center;
		font-size: 1.5em;
		letter-spacing: 2px;
		word-spacing: 4px;
		line-height: 35px;
		padding-top: 2%;
	}
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }


  .row-2{
	margin: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
	/*transform: skewY(-1deg);*/
}

/* Create three unequal columns that floats next to each other */
.column-2 {
	float: left;
	/*padding: 10px;*/
	padding: 0;
	margin: 0;
	
  }
  
  /* Left and right column */
  .column-2.side-2 {
	width: 35%;
	padding: 0;
	margin: 0;
	padding-left: 2%;
  }
  
  /* Middle column */
  .column-2.middle-2 {
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	
  }
  
  /* Clear floats after the columns */
  .row-2:after {
	content: "";
	display: table;
	clear: both;
  }

  #dark-mode-pic{
	  width: 60%;
  }

  .column-2.side-2 > h3, p{
	  margin-left: 2%;
  }

 

  .column-2.middle-2 > p{
	font-size: 1.2em;
	margin-top: 2%;
	padding-bottom: 2%;
}

#filter-info{
	font-size: 1.2em;
	margin-top: 5%;
}

#right-pic{
	width: 28%;
	float: right;
	margin-right: -15%;
	margin-top: 2%;
	margin-left: 10%;
}


.main-container{
	padding: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.274);
/*	background-image: url("../Assets/PosterBackground.png");*/
	/*background-attachment: fixed;*/
/*	background-position: right;
	background-size: cover;
	background-clip: content-box;
	transform: skewY(1deg);*/
	width: 90%;
	margin: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
	margin-top: 5vh;
	opacity: 0.95;
	z-index: 0;
}



