.row{
	margin: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-top: 10%;
}

.column {
	float: left;
	padding: 0;
	margin: 0;
}

#left-side-pic{
	margin-left: 2%;
}

#right-side-pic{
	margin-right: 2%;
}
  
.column.side {
	width: 17%;
	height: 20%;
	padding: 0;
	margin: 0;
}
  
.column.middle {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.column.middle > h1{
	text-align: center;
	margin-top: 2%;
	font-size: 5vw;
	padding-bottom: 1vw;
	letter-spacing: 4px;
}

.column.middle > p{
	text-align: center;
	font-size: 1.3em;
	letter-spacing: px;
	word-spacing: 3px;
	padding-top: 1%;
}
  
.row:after {
	content: "";
	display: table;
	clear: both;
}


.row-2{
	margin: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.column-2 {
	float: left;
	padding: 0;
	margin: 0;
}

.column-2.side-2 {
	width: 35%;
	padding: 0;
	margin: 0;
	padding-left: 2%;
}
  
.column-2.middle-2 {
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	
}
  
.row-2:after {
	content: "";
	display: table;
	clear: both;
}

#dark-mode-pic{
	width: 60%;
}

.column-2.side-2 > h3, p{
	margin-left: 2%;
}

.column-2.middle-2 > p{
	font-size: 1.2em;
	margin-top: 2%;
	padding-bottom: 2%;
}

#filter-info{
	font-size: 1.2em;
	margin-top: 5%;
}

#right-pic{
	width: 28%;
	float: right;
	margin-right: -15%;
	margin-top: 2%;
	margin-left: 10%;
}