.navbar {
	background-color: #07223b;
	/*border-top: 4px solid #ffffff;*/
	margin-bottom: 2%;
	opacity: 0.6;
}

.navbar:hover{
	opacity: 0.7;
}

.nav-item {
	font-family: "ProductSans";
	font-size: 22px;
}

.nav-link {
	text-align: center;
	width: 110px;
	color: #ffffff;
}

#nav-logo {
	padding: 0;
}