.navbar {
	background-color: #07223bc0;
	/*border-top: 4px solid #ffffff;*/
	margin-bottom: 2%;
	opacity: 1;
	height: 67.8px;
	margin-top: 2%;
	
}

.nav-item {
	font-family: "ProductSans";
	font-size: 22px;
}

.nav-link:hover{
	color: rgba(255, 255, 255, 0.349);
}

.nav-link {
	text-align: center;
	width: 110px;
	color: #ffffff;
	margin-left: 20px;
	
}

#nav-logo {
	padding: 0;
	padding-left: 50px;
	padding-right: 50px;
}
