.navbar {
	background-color: #07223bd8;
	/*border-top: 4px solid #ffffff;*/
	margin-bottom: 2%;
	opacity: 1;
	height: 67.8px;
}

.nav-item {
	font-family: "ProductSans";
	font-size: 22px;
}

.nav-link:hover{
	color: rgba(255, 255, 255, 0.349);
}

.nav-link {
	text-align: center;
	width: 110px;
	color: #ffffff;
}

#nav-logo {
	padding: 0;
	width: 46px;
	margin-left: 50px;
	margin-right: 50px;
}
