body{
  background-color: teal;
}

div{
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  /* For IE 8*/
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
  z-index:10;
  padding:10px;
-moz-box-shadow:0px 0px 7px #ffffff;
-webkit-box-shadow:0px 0px 7px #ffffff;
box-shadow:0px 0px 7px #ffffff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 
}

