*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
  	margin: 0;
  	padding: 0;
  	width: 100%;
	background-image: url(../Assets/slideshow4.jpg);
	background-attachment: fixed;
	background-size: cover;
	color: #15343d;
	color:white;
	font-family: "ProductSans";
	/*overflow: hidden;*/
}

/*--------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #fff;
}

.intro {
  height: 100vh;
  margin: auto; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
}
.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index:-1;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

.intro .intro-header {
  border-radius: 0.5rem;
  padding: 2rem 2.5rem;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 15%;
  width: 80vw;
}
.intro h1 {
  font-size: 5rem;
  margin-bottom: 0.75rem;
  opacity: 0.8;
}
.intro p {
  font-size: 1.75rem;
}

@media (max-width: 700px) {
  html { font-size: 12px; }
  .intro-header { padding: 1.5rem 2rem; }
  .intro h1 { font-size: 2.5rem; }
  .intro p { font-size: 1.25rem; }
}

hr {
	border-top: 2px solid #ffffff8c;
	
}

footer {
	color: white;
	background-color: rgba(3, 22, 22, 0.445);
	text-align: center;
	clear: both;
	opacity: 0.95;
	margin-top: 5vh;
}

footer div {
	display: inline-block;
	height: 100%;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

#faq{
	padding-top: 5vh;
	padding-bottom: 5vh;
}

footer img {
	width: 4vw;
}

.container-fluid {
	font-family: "ProductSansBold" !important;
	padding-left: 5vw !important;
	padding-right: 5vw !important;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

#slideshow-down-arrow {
	position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right : 0;
    bottom: 0;
	margin-bottom: 8vw;
	opacity: 1;
}

#slideshow-img-bubbles {
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 10%;
	padding-bottom: 1%;
	opacity: 0.5;
}

#slideshow-img-bubbles img {
	display: inline-block;
	height: 4vh;
}



#header{
	padding-top: 5vh;
	padding-bottom: 5vh;
	position: relative;
	padding: 2%;	
	background-color: rgba(9, 66, 66, 0.329);
	color: white;
}

#left-side{
	margin: 0;
	padding: 0;
	padding-top: 2%;
	margin-left: 10px;
	width: fit-content;
	position: absolute;
	left: 0;
	top: 0;
}

#left-heading{
	margin: 0;
	padding: 0;
}

h2.e{
	float: right;
	padding-left: 10px;
}

#right-side{
	margin-right: 10px;
	width: fit-content;
	position: absolute;
	right: 0;
	padding-top: 2%;
}

header > hr{
	margin-top: 105px;
	padding-bottom: px;
}

.main-container{
	padding: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.356);
	width: 90%;
	margin: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
	margin-top: 5vh;
	opacity: 0.95;
	z-index: 0;
}

#active-link{
	color: rgba(255, 255, 255, 0.349);
}